@model IEnumerable<Albums>

<h2>Albums</h2>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>RealeaseDate</th>
        <th>ArtistName</th>
        
    </tr>

    @foreach (var album in @Model)
    {
        <tr>
            <td>@album.AlbumID</td>
            <td>@album.AlbumName</td>
            <td>@album.ReleaseYear</td>         
            <td>@album.Artist</td>
                      
        </tr>
    }

</table>
