@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Cypher Range Vinyl</h1>

   
	
	
	<h2>Dedicated to supplying you with the best underground hip hop music from the 90s</h2>
   
  
   
</div>
