@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Cypher Range Vinyl</h1>
    <p><img src="https://tinyurl.com/59ad9jd7" alt="graff"</p> <img src="https://media.tenor.com/vL8jSuQO-UgAAAAM/dj-mcs.gif" alt="scratching"</p> <img src="https://tinyurl.com/bde7dj7c" alt="breaker"</p>
    <h2>Dedicated to supplying you with the best underground hip hop from the 90s</h2>
   
</div>
